<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <httpHandlers>
            <add path="*" verb="*" type="System.Web.HttpNotFoundHandler" />
        </httpHandlers>

        <!--
        Durch Aktivieren der Anforderungsvalidierung auf Ansichtsseiten würde
        die Validierung erst erfolgen, nachdem die Eingabe durch den Controller
        verarbeitet wurde. Standardmäßig wird die Anforderungsvalidierung von
        MVC ausgeführt, bevor die Eingabe durch den Controller verarbeitet
        wird. Wenden Sie "ValidateInputAttribute" auf einen Controller oder
        eine Aktion an, um dieses Verhalten zu ändern.
    -->
        <pages validateRequest="false"
               pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
               pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
               userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <controls>
                <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
                     namespace="System.Web.Mvc" tagPrefix="mvc" />
            </controls>
            <namespaces>
                <add namespace="VersionR.Helpers.BootstrapMvcHelpers" />
            </namespaces>
        </pages>
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />

        <handlers>
            <remove name="BlockViewHandler" />
            <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode"
                 type="System.Web.HttpNotFoundHandler" />
        </handlers>
    </system.webServer>
</configuration>