<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Hinweis: Fügen Sie der Datei "App.config" Einträge für Konfigurations-
    einstellungen hinzu, die sich ausschließlich auf das Testprojekt beziehen.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
        <!-- <add name="VersionR" connectionString="metadata=res://*/Models.VersionR.csdl|res://*/Models.VersionR.ssdl|res://*/Models.VersionR.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=HHBNT8\SQLEXPRESS;Initial Catalog=ia211;Persist Security Info=True;User ID=sa;Password=supergeheimX1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /> -->
        <add name="VersionR" connectionString="metadata=res://*/Models.VersionR.csdl|res://*/Models.VersionR.ssdl|res://*/Models.VersionR.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\VersionR.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>
