<?xml version="1.0" encoding="utf-8"?>

<!--
  Weitere Informationen zum Konfigurieren der ASP.NET-Anwendung finden Sie unter
  "http://go.microsoft.com/fwlink/?LinkId=152368".
  -->
<configuration>
    <connectionStrings>
        <add name="VersionR" connectionString="metadata=res://*/Models.VersionR.csdl|res://*/Models.VersionR.ssdl|res://*/Models.VersionR.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=HHBNT8\SQLEXPRESS;Initial Catalog=ia211;Persist Security Info=True;User ID=sa;Password=supergeheimX1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

        <!--<add name="VersionR"
             connectionString="metadata=res://*/Models.VersionR.csdl|res://*/Models.VersionR.ssdl|res://*/Models.VersionR.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\VersionR.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;"
             providerName="System.Data.EntityClient" />-->
    </connectionStrings>
    <system.web>
        <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US"
                       uiCulture="de-DE" />
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add
                    assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            </assemblies>
        </compilation>
        <authentication mode="Forms">
            <forms loginUrl="~/Auth/LogOn" timeout="2880" />
        </authentication>
        <membership defaultProvider="VersionRMembershipProvider">
            <providers>
                <clear />
                <add name="VersionRMembershipProvider" type="VersionR.Services.VersionRMembershipProvider"
                     connectionStringName="VersionR" enablePasswordRetrieval="false" enablePasswordReset="true"
                     requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5"
                     minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
            </providers>
        </membership>
        <profile>
            <providers>
                <clear />
                <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider"
                     connectionStringName="ApplicationServices" applicationName="/" />
            </providers>
        </profile>
        <roleManager defaultProvider="VersionRRoleProvider" enabled="true" cacheRolesInCookie="true">
            <providers>
                <clear />
                <add name="VersionRRoleProvider" type="VersionR.Services.VersionRRoleProvider"
                     connectionStringName="VersionR" applicationName="/" />
                <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider"
                     applicationName="/" />
            </providers>
        </roleManager>
        <pages>
            <namespaces>
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
            </namespaces>
        </pages>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true" />
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>